*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#header-container{
    background-color: red;
}
div#header-container div.header-top-row{
    text-align: center;
    background-color: white;
}               


                /*start header logo */


div#header-container div.header-top-row>div{
    padding: 10px;
}
div#header-container div.header-top-row>div.header-logo{
    text-align: right;
}
div#header-container div.header-top-row>div.header-logo img{
   margin-top: 8px;
   max-width: 150px;
}
                /*start header searchbox */


div#header-container div.header-top-row div.header-search-box input{
    border: none;
    outline: none;
    background-color: rgb(234, 234, 234);
    height: 40px;
    margin-top: 3px;
}
div#header-container div.header-top-row div.header-search-box input:focus{
    box-shadow: none;
}
div#header-container div.header-top-row div.header-search-box button{
    outline: none;
    border: none !important;
    box-shadow: none;
    opacity: 1;
    height: 40px;
    margin-top: 3px;
    transition: opacity;
    transition-duration: .2s;
}
div#header-container div.header-top-row div.header-search-box button:hover{
    opacity: .9;
}
div#header-container div.header-top-row div.header-search-box i{
    color: white;
}

                /*finish header searchbox */

                /*start header left buttons */

div#header-container div.header-top-row div.header-left-buttons{
    text-align: left;
    position: relative;
}
div#header-container div.header-top-row div.header-left-buttons>div{
    display: inline-block;
}
div#header-container div.header-top-row div.header-left-buttons div button{
    /* width: 100%; */
    font-size: 14px;
    font-family: "iransans";
    font-weight: 500;
    color: #222;
    outline: none;
    border: none;
    border-radius: 10px;
    /* height: 50px; */
    text-align: center;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #222;
    transition: background-color .2s;
}
div#header-container div.header-top-row div.header-left-buttons div.header-sign-buttons{
    margin-left: 30px;
}
div#header-container div.header-top-row div.header-left-buttons div.header-sign-buttons::after{
    content: "";
    display: inline-block;
    border: .5px solid rgba(34, 34, 34, 0.700);
    width: 1px;
    height: 35px;
    background-color: rgba(34, 34, 34, 0.700);
    position: absolute;
    margin-right: 15px;
    top: 15px;
    border-radius: 5px;

}
div#header-container div.header-top-row div.header-left-buttons div button:hover{
    background-color: whitesmoke;
}
div#header-container div.header-top-row div.header-left-buttons>div button i{
    vertical-align: middle;
}
div#header-container div.header-top-row div.header-left-buttons div.header-sign-buttons button i{
    margin-left: 8px;
}

                        /*finish header left buttons */


div#header-container div.row>div{
    background-color: rgb(255, 255, 255);
}


@media screen and (max-width: 1200px) {
    div#header-container div.header-top-row>div.header-logo{
        text-align: center;
        background-color: #222;
        padding-bottom: 15px;
    }
    div#header-container div.header-top-row>div.header-logo img{
        width: 20%;
     }
}
@media screen and (max-width: 420px) {
    div#header-container div.header-top-row div.header-left-buttons{
        display: none;
    }
    div#header-container div.header-top-row div.header-search-box{
        flex-grow: 12;
    }
}